.image-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-holder {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .image-holder img {
    animation: fadeIn 2s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }